extends ../layout

block content

  h1= title
  hr
  for article in articles

    div.article
      a(href='articles/view/' +   article.slug)
        h2= article.title
        div!= article.description

